<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>

    <add key="Fiddler" value="1"/>

    <add key="ThreadCount" value="5"/>

    <add key="user" value="wangnuu"/>
    <add key="pwd" value="123qwe!@#"/>
    <add key="encoding" value="gbk"/>
    <add key="verifyCode" value="8001"/>


    <add key="encoding" value="gbk"/>
    <!--0:详细日志;1:精简日志;3:不记录日志-->
    <add key="logLevel" value="1"/>
    <!--前面是对应的话费,后面是话费对应的编码-->
    <add key="giftCode" value="30:30,50:50,80:80,100:100,130:130,200:200"/>
    <!--前面是对应的话费,后面是话费对应的乐豆-->
    <add key="giftLeDou" value="30:300,50:500,80:800,100:1000,130:1300,200:2000"/>
  </appSettings>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="net.tcp" binding="netTcpBinding"/>
    </protocolMapping>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding" />
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"></serviceDebug>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MetadataBehavior"  name="Ripper.View.RipperService">
        <endpoint
          address="service"
          binding="netTcpBinding"
          contract="Ripper.View.IRipper"
          name="TcpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8000/Ripper/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <client>
      <endpoint address="net.tcp://localhost:8000/Ripper/service" binding="netTcpBinding"
        bindingConfiguration="TcpBinding" contract="RipperDuplex.BeerInventoryService"
        name="TcpBinding">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
