<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="user" value="wangnuu"/>
    <add key="pwd" value="123qwe!@#"/>
    <add key="encoding" value="gbk"/>
  </appSettings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
