<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ConsoleApplication1.Properties.Settings>
            <setting name="ConsoleApplication1_FetionWebService_fetion_mathine_server"
                serializeAs="String">
                <value>http://10.87.56.182:10897/fetion_mathine_server.asmx</value>
            </setting>
        </ConsoleApplication1.Properties.Settings>
    </applicationSettings>
</configuration>